:root {
  --bg-color: white;
  --main-color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.full-menu {
  position: absolute;
  color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.full-menu.is-active {
  opacity: 1;
  position: fixed;
  visibility: visible;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  z-index: 8000000;
}

.full-menu ul {
  list-style: none;
  /*   opacity: 0; */
  /*   transform: translateX(60px); */
  /*   transition: all 2s ease; */
  list-style: none;
}

.full-menu.is-active ul {
  opacity: 1;
  margin-right: 7rem;
  /*   transform: translateX(0); */
  z-index: 8000000;
}

.full-menu ul li {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin-top: 20px;
  font-size: 2.6em;
  font-family: 'Open Sans', sans-serif;
  opacity: 0;
  -webkit-transform: translate(60px);
          transform: translate(60px);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.full-menu.is-active ul li {
  opacity: 1;
  z-index: 8000000;
}

.full-menu.is-active ul li:nth-child(1) {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.full-menu.is-active ul li:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.full-menu.is-active ul li:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.full-menu.is-active ul li:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.full-menu.is-active ul li:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.burger {
  width: 60px;
  height: 34px;
  position: fixed;
  top: 21px;
  right: 7px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 86540000000;
}

.burger.is-active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger-bars {
  position: absolute;
  width: 73%;
  padding: 1px;
  background: var(--main-color);
  left: 0;
  border-radius: 0px;
  -webkit-transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, -webkit-transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;
  transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s, -webkit-transform .2s .4s;
}

.burger .burger-bars:nth-child(1) {
  top: 0;
}

.burger.is-active .burger-bars:nth-child(1) {
  top: calc(50% - 5px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger .burger-bars:nth-child(2) {
  top: calc(50% - 3px);
}

.burger.is-active .burger-bars:nth-child(2) {
  opacity: 0;
}

.burger .burger-bars:nth-child(3) {
  bottom: 0;
}

.burger.is-active .burger-bars:nth-child(3) {
  bottom: calc(50% - 5px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/*# sourceMappingURL=nav-toggle.css.map */